<h2>Sign Up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input_field :walker, as: :boolean, boolean_style: :inline %>
    <%= f.label :walker, 'Register as Walker?' %>
    <h6>(Default is $10.00/Walk, Edit After Sign Up)</h6>
    <%= f.input :first_name, required: true %>
    <%= f.input :last_name, required: true %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :phone_number%>
    <%= f.input :address, required: true %>
    <%= f.input :city, required: true %>
    <%= f.label :state, required: true %>
    <%= f.select :state, options_for_select(us_states), required: true %>
    <%= f.input :zip, required: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.label :avatar, 'Add Picture' %>
    <%= f.file_field :avatar %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
