<% if user_signed_in? %>
  <div class="form-inputs">
    <%= form_for [@user, @dog] do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
        </br>
      <%= f.label :breed %>
      <%= f.text_field :breed %>
        </br>
      <%= f.label :body, "Doggy Info" %>
      <%= f.text_area :body, size: "5x5" %>
        </br>
      <%= f.label :avatar, 'Change Picture' %>
      <%= f.file_field :avatar %>
        </br>
      <%= f.hidden_field(:user_id, :value => @user.id) %>
      <%= f.submit "Submit New Dog" %>
    <% end %>
      </br>
    <%= link_to "Back to User Page", user_path(@user) %>
  </div>
<% else %>
  <h2>Need to be logged in to submit new Dog</h2>
    </br>
  <%= link_to "Home Page", root_path %>
<% end %>
