
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<script>
$(function() {
  var icons = {
      header: "ui-icon-circle-arrow-e",
      activeHeader: "ui-icon-circle-arrow-s"
    };
    $( ".accordion" ).accordion({
      icons: icons
    });
});
</script>

  </br>
<%= link_to "Back to User Page", user_path(current_user) %>
<% if current_user == @user %>
  <%= link_to "Edit Profile", edit_user_dog_path(@user, @dog) %>
<% end %>
  </br></br>
<div class="float-left">
  <ul>
    <h1><li><%= @dog.name %></li></h1>
    <% if current_user != @user %>
      <li>Owner: <strong><%= @dog.user.first_name %> <%= @dog.user.last_name %></strong></li>
      <li>Address: <strong><%= @dog.user.address %>, <%= @dog.user.city %>, <%= @dog.user.state %> <%= @dog.user.zip %></strong></li>
      </br>
    <% end %>
    <li><img class="page-ownr-img" src="<%= @dog.avatar.url %>"></li>
      </br>
    <div class="dog-descr">
      <div class="dog-descr-text">
        <li>Breed: <%= @dog.breed %></li>
          </br>
        <li><%= @dog.name %>'s Bio:</li>
          </br>
        <li><%= @dog.body %></li>
      </div>
    </div>
  </ul>
</div>

<% if current_user == @user %>
  <div class="bot-pad float-right">

    <h2>Scheduled Walks :</h2>

    <div class="accordion">
      <% @memberships.each do |mem| %>
        <% walk = Walk.find(mem[:walk_id]) %>
        <% if walk.date >= Date.today && walk.user_id != @user.id && walk.walker.zip == @dog.user.zip %>
          <h3> <%= walk.walker.first_name %> <%= walk.walker.last_name %> on <%= l walk.date %> </h3>
          <div>
          <p class="navy-blue"><strong>Capacity: <%= walk.dogs.count %> / <%= walk.capacity %></strong></p>
          <p class="navy-blue"><%= walk.body %></p>
            </br>
          <%= button_to "Remove #{@dog.name} from Walk", dog_membership_path(@dog,mem), method: :delete %>
        </div>
        <% end %>
      <% end %>
    </div>

    </br></br>

    <h2>Availabile Walks :</h2>

    <div class="accordion">

    <% @localwalks.each do |walk| %>
      <% if walk.date >= Date.today && walk.user_id != @user.id && walk.dogs.include?(@dog) == false && walk.walker.zip == @dog.user.zip && walk.dogs.count < walk.capacity %>
        <h3> <%= walk.walker.first_name %> <%= walk.walker.last_name %> on <%= l walk.date %> </h3>
        <div>
          <p class="navy-blue"><strong>Capacity: <%= walk.dogs.count %> / <%= walk.capacity %></strong></p>
          <p class="navy-blue"><%= walk.body %></p>
            </br>
          <%= form_for [@dog, @membership] do |f| %>
            <%= f.hidden_field(:walk_id, :value => walk.id) %>
            <%= f.submit "Add #{@dog.name} to Walk" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
<% end %>
