
<div class="align-pics">
  <%10.times do%>
    <img class="home-dog-pic" src="<%= @dogimgs.sample %>"/>
  <% end %>
</div>

<div class="homepage-bar"></div>

</br>

<% if user_signed_in? %>
  <div class="row">
    <div class="small-9 small-centered columns">
      <h2 class="text-center"> Welcome, <%= @user.first_name %>!</h2>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="small-9 small-centered columns">
      <h1 class="text-center"><%= link_to "Continue to User Profile", user_path(@user) %></h1>
    </div>
  </div>
<% else %>
<div class="row">
  <div class="small-9 small-centered columns">
    <h1 class="text-center"><strong>Welcome to Wag N Walk!</strong></h1>
  </div>
</div>
    <div class="row">
      <div class="small-9 small-centered columns">
    <h2 class="text-center"><a href="/users/sign_up">Sign Up</a> or <a href="/users/sign_in">Sign In</a> to Continue</h2>
  </div>
</div>
<% end %>
</div>

</br>

<div class="homepage-bar"></div>

<div class="align-pics">
  <%20.times do%>
    <img class="home-dog-pic" src="<%= @dogimgs.sample %>"/>
  <% end %>
</div>

<div class="homepage-bar"></div>

<div class="row top-pad">
  <div class="small-12 small-centered columns text-center">
    <h5 class="text-center google-font">Site by Ryan Dobrinski</h5>
      </br>
    <h3><%= link_to "View Ryan's Portfolio", "http://www.ryanboston.com/", class: "google-font" %></h3>
      </br></br>
  </div>
</div>
