<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
$(function() {
  $( ".accordion" ).accordion();
});
</script>

<% if user_signed_in? %>
  <div class="float-left">
    <h1> Signed in as: <%= @user.first_name %> <%= @user.last_name %></h1>
    <%= link_to "History of Your Walks", user_walks_path(@user) %> </br>
    <% if @user.walker %>
      <%= link_to "Create Walk", new_user_walk_path(@user) %> </br></br>
    <% end %>
      <img id='img-size' src="<%= @user.avatar.url %>"/>
    <%= link_to "Add Dog", new_user_dog_path(@user) %>
    <% @user.dogs.each do |dog| %>
      <ul>
        <a class="not-this" href="/users/<%= @user.id %>/dogs/<%= dog.id %>">
        <li>
        <div class="dog-prof-boxes">
          <h3> <%= dog.name %> </h3>
          <% dog.walks.each do |walk| %>
            <% if walk.date >= Date.today %>
              <h5>Has an upcoming walk!</h5>
              <% break %>
            <% end %>
          <% end %>
          <img id='img-size' src="<%= dog.avatar.url %>"/>
          <%= dog.body %>
        </div>
        </li>
        </a>
      </ul>
    <% end %>
  </div>
  <% if @user.walker %>
    <div class="float-right">
      <h3>Your Upcoming Walks:</h3>

      <div class="accordion">

      <% @userwalks.each do |walk| %>
        <% if walk.date >= Date.today %>
          <h3> <%= l walk.date %> </h3>
          <div>
          Capacity???
          <%= walk.body %>
          <%= link_to "Edit Walk", edit_user_walk_path(@user, walk) %>
          </div>
        <% end %>
      <% end %>

    </div>
  <% end %>
<% else %>
    </br>
  <%= link_to "Home Page", root_path %>
<% end %>
