
<% if user_signed_in? %>

    </br>
  <%= link_to "Back to User Page", user_path(@user) %>
    </br>

  <div class="top-pad">
    <% if @user.walker %>
      <div class="walk-history">
      <h3><strong><%= @user.first_name %>'s Walk History</strong></h3>
        <% @yourwalks.each do |walk| %>
          <ul>
            <li>
              <div class="each-walk">
              <strong><%= walk.dogs.count %> dogs on <%= walk.date.to_formatted_s(:long) %></strong>
              <% walk.dogs.each do |dog| %>
              <ul>
                <li> <%= dog.name %></li>
              </ul>
              <% end %>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="top-pad">
    <div class="walk-history">
      <% @user.dogs.each do |dog| %>
          </br>
        <h3><strong><%= dog.name %>'s Walk History</strong></h3>
        <% dog.walks.each do |walk| %>
        <ul>
          <li>
            <div class="each-walk">
            <%= walk.date.to_formatted_s(:long) %> with
            <%= User.find(walk.user_id).first_name %>
            <%= User.find(walk.user_id).last_name %>
            </div>
          </li>
        </ul>
        <% end %>
      <% end %>
    </div>
  </div>
    </br>
  <%= link_to "Back to User Page", user_path(@user) %>

<% else %>

  <h3> Must be signed in and registered as a walker to view prior walks </h3>
    </br>
  <%= link_to "Home Page", root_path %>

<% end %>
