
<% if user_signed_in? %>

  <div class="top-pad">
    <% if @user.walker %>
      <div class="walk-history">
      <h3>Your Walk History</h3>
        <% @yourwalks.each do |walk| %>
          <ul>
            <li>
              <%= walk.date.to_formatted_s(:long) %> with
              <% walk.dogs.each do |dog| %>
              <ul>
                <li>- <%= dog.name %></li>
              </ul>
              <% end %>
            </li>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="top-pad">
    <div class="walk-history">
      <% @user.dogs.each do |dog| %>
          </br>
        <h3><%= dog.name %>'s Walk History</h3>
        <% dog.walks.each do |walk| %>
        <ul>
          <li>
            <%= walk.date.to_formatted_s(:long) %> with
            <%= User.find(walk.user_id).first_name %>
            <%= User.find(walk.user_id).last_name %>
          </li>
        </ul>
        <% end %>
      <% end %>
    </div>
  </div>

<% else %>

  <h3> Must be signed in and registered as a walker to view prior walks </h3>
    </br>
  <%= link_to "Home Page", root_path %>

<% end %>
