<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<script>
  $(function() {
    $( "#datepicker" ).datepicker({
      altFormat: "dd M yy",
      dateFormat: "dd M yy",
    });
  });
</script>

<% if user_signed_in? && @user.walker %>
  <div class="form-inputs">
    <%= form_for [@user, @walk] do |f| %>
      <%= f.label :date, "Date of Walk" %>
      <%= f.text_field :date, :id => "datepicker" %>
        </br>
      <%= f.label :capacity, "Number of Dogs to Walk" %>
      <%= f.select(:capacity, (1..10).to_a.reverse) %>
        </br>
      <%= f.label :body, "Description" %>
      <%= f.text_area :body, cols: 20, rows: 8 %>
        </br>
      <%= f.hidden_field(:user_id, :value => @user.id) %>
      <%= f.submit "Create New Walk" %>
    <% end %>
    <%= link_to "Back to User Page", user_path(@user) %>
  </div>
<% else %>
  <h2>Need to be logged in and registered as a Walker to create a walk.</h2>
    </br>
  <%= link_to "Home Page", root_path %>
<% end %>
