<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Wag N Walk" %></title>

    <link rel="stylesheet" href="jdpicker.css" type="text/css" media="screen" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="overflow-hidden">
    <nav class="bot-pad top-bar" data-topbar role="navigation">
      <section>
        <ul>
            <li class="inline"><div class="icon-display"><h1><a id="home-compass" href="/"><strong>Wag N Walk</strong></a></h1></div></li>
          <% if user_signed_in? %>
            <li class="inline"><div> Signed in as: <strong><%= current_user.first_name %> <%= current_user.last_name %></strong> </div></li>
            <li class="inline"><div> <img id="topbar-img-size" src="<%= current_user.avatar.url %>"/> </div></li>
            <li class="inline"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <li class="inline"><%= link_to 'Edit Info', edit_user_registration_path%></li>
          <% else %>
            <li class="inline"><%= link_to 'Sign In', new_user_session_path %></li>
            <li class="inline"><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
            <li class="inline"><%=link_to "Twitter", "https://twitter.com/BostonWag"%></li>
        </ul>
      </section>
    </nav>

    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>

    <%= yield %>
  </div>
  </body>
</html>
